
#barrabusca {
	position: relative;
	width: 300px;
	float: right;
	margin-right: 5%;
}

body {
	background: #DDD;
	font-size: 15px;
}
#wrap {
  margin: 5px 10px;
  display: inline-block;
  position: relative;
  height: 40px;
  float: right;
  padding: 0;
}

input[type="text"] {
  height: 50px;
  font-size: 2em;
  display: inline-block;
  font-weight: 100;
  border: none;
  outline: none;
  color: #000000;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 2px solid #BBB;
}

input[type="text"]:focus {
  width: 300px;
  z-index: 1;
  border-bottom: 2px solid #BBB;
  cursor: text;
}
input[type="submit"] {
  height: 50px;
  width: 50px;
  display: inline-block;
  color:red;
  float: right;
  background: url(font/Icon-search.svg) center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity .4s ease;
}

input[type="submit"]:hover {
  opacity: 0.8;
}



#redessociais{
	position: relative;
	width: auto;
	height: 50px;
	background-color: aqua;
	float: right;
	margin: 5px 20px;
	line-height: normal
}

#redessociais a {
	font-size: 2.1em;
	color: #ffffff;
	padding: 0 10px;
	display: inline-block;
}

#redessociais p {
	font-size:.625em;
	width: auto;
	color: #ffffff;
	font-weight: 500;
	/*display: inline;*/
}


#login{
  position: relative;
	color:#FFF;
  width:auto;
  font-size: 18px;
  margin-top: 8px;
  margin-left: 20%;
	float: left;
/*background-color:#f0f;*/
}

#login a{
	color:#FFF;
	text-decoration:none;
}
#login a:hover{
	text-decoration: underline
}


/*ESTILO DA BARRA DE BUSCA*/

