
#redessociais{

}


#login{
  position: relative;
	color:#FFF;
  width:auto;
  font-size: 18px;
  margin-top: 8px;
  margin-left: 20%;
	float: left;
/*background-color:#f0f;*/
}

#login a{
	color:#FFF;
	text-decoration:none;
}
#login a:hover{
	text-decoration: underline
}


/*ESTILO DA BARRA DE BUSCA*/

