@charset "utf-8";
/* CSS Document */

*{margin: 0; padding: 0; box-sizing: border-box;}

@font-face {
     font-family: minha_font;
     src: url('/UC12_site_cinema/css/font/Roboto-Regular.ttf');
}

body{
	font-family: minha_font;
	font-size: 1em;
	background-color: #ffffff;
}

main{
	margin: 0 auto;
	/*max-width:1366px; largura máxima do layout*/
	width: 100%; /*ajuste do layout à tela*/
	height:auto;
	/*background-color: aqua;*/
	display: block;
	}

header{
	position: relative;
	width: 100%; /*1366px*/
	height: 50px;
	background-color: blueviolet;
}

.pg_titulo {
	position: relative;
	width: 87.84773060029283%; /*1200px de 1366px*/
	height: auto;
	padding: 30px 0px;
	font-size: 2.75em; /*44px*/
	background-color: grey;
	margin: 0 auto;
	float: none;
}


footer {
	position: relative;
	width: 100%; /*1366px*/
	height: 50px;
	background-color: blueviolet;
	clear: both;
}

