@charset "utf-8";
/* CSS Document */

#filme_topo_container {
	position: relative;
	width: 100%;
	height: 500px;
    /*overflow: hidden;*/
	background-color: #1F3F60;
	
}

#filme_info {
	position: absolute;
	bottom: 20px;
	left: 6%;
	z-index: 2;
	width: 87.84773060029283%; /*1200px de 1366px*/
	/*height: auto;*/
	/*background-color: chartreuse;*/
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

#poster_filme {
	position: relative;
	width: 250px; /*300px de 1200px*/
	height: auto;
	/*padding-left: 50px;*/
	/*background-color: navajowhite;*/
	margin: 0 auto;
	float: left;
}

#poster_filme img{
	width: 100%;
	border: 1px solid #000000;
	box-shadow: 2px 2px 4px #000000;
}

#info {
	position: relative;
	width: auto;
	height: auto;
	padding: 0px 50px 0px 20px;
	/*background-color: navajowhite;*/
	margin: 0 auto;
	float: left;
	flex-grow: 1;
}

#info h1 {
	font-weight: bold;
}

#info h2 {
	width: auto;
	font-size: 1em;
}

#info h3 {
	width: auto;
	font-size: 1em;
	float: left;
	padding-right: 10px;
	font-weight: bold;
}

#info ol {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	height: auto;
	flex-wrap: wrap;
	float: left;
	background-color: darkgoldenrod;
	margin-top: 10px;
}

.sinopse {
	font-size: .75em; /*12px*/
}

#info ol li {
	display: block;
	width: 30%;
	height: auto;
	float: left;
}



#lancamentos_topo img {
	width: 100%;
	height: auto;
}


.pg_titulo {
	line-height: 1em;
}

.pg_titulo h1 {
	font-size: 1em;
	line-height: normal
}


#corpo_filme {
	position: relative;
	width: 87.84773060029283%; /*1200px de 1366px*/
	height: auto;
	background-color: #C0C0C0;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	}




#ficha_filme {
	position: relative;
	width: auto;
	height: auto;
	padding: 10px;
	/*background-color: #5F5F5F;*/
	flex-grow: 1;
}

#ficha_filme p{
	font-size: .875em; /*14px*/
	color: #44B4FF;
}

#ficha_filme a{
	font-size: .875em; /*14px*/
	text-decoration: none;
	color: #ffffff;
}

#ficha_filme h4{
	font-size: 1em;
	padding-bottom: 5px;
	font-weight: bold;
	color: #ffffff;
}

#galeria_filme {
	position: relative;
	width: 300px; /*200px de 1200px*/
	height: auto;
	background-color: hotpink;
	margin: 0 auto;
	float: right;
}

#filme_sinopse > p {
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
	}

#filme_sinopse{
	position: relative;
	width: 100%;
	height: auto;
	/*background-color: lawngreen;*/
	padding: 10px;
	font-size: 1em; 
	}