@charset "utf-8";
/* CSS Document */

*{margin: 0; padding: 0; box-sizing: border-box;}

@font-face {
     font-family: minha_font;
     src: url('/mortal_engines_4.0/css/font/Roboto-Regular.ttf');
}

body{
	font-family: minha_font;
	font-size: 1em;
	background-color: #ffffff;
}

main{
	margin: 0 auto;
	max-width:1366px; /*largura máxima do layout*/
	width: 100%; /*ajuste do layout à tela*/
	height: auto;
	/*background-color: aqua;*/
	}

header{
	position: relative;
	width: 100%; /*1366px*/
	height: 50px;
	background-color: blueviolet;
}


#topo_slides_container{
	position: relative;
	width: 100%;
	height: auto;
	background-color: aqua;
}



#destaques_topo{
	position: relative;
	width: 100%;
	height: auto;
	/*background-color: burlywood;*/
	margin-top: 0;
	overflow: hidden;
}
/*################################
estilização do slideshow*/

.jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }


.noticia_titulo_home{
	position:absolute;
	right: 150px;
	bottom: 20px;
	width:480px;
	height:130px;
	background-color:rgba(255,188,5,0.8);
	font-size:30px;
	color:#000000;
	line-height:1.27;
	padding:5px 5px 5px 5px;
	box-sizing:border-box;
}

        /*jssor slider bullet skin 032 css*/
        .jssorb032 {position:absolute;}
        .jssorb032 .i {position:absolute;cursor:pointer;}
        .jssorb032 .i .b {fill:#fff;fill-opacity:0.7;stroke:#000;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.25;}
        .jssorb032 .i:hover .b {fill:#000;fill-opacity:.6;stroke:#fff;stroke-opacity:.35;}
        .jssorb032 .iav .b {fill:#000;fill-opacity:1;stroke:#fff;stroke-opacity:.35;}
        .jssorb032 .i.idn {opacity:.3;}

        /*jssor slider arrow skin 051 css*/
        .jssora051 {display:block;position:absolute;cursor:pointer;}
        .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
        .jssora051:hover {opacity:.8;}
        .jssora051.jssora051dn {opacity:.5;}
        .jssora051.jssora051ds {opacity:.3;pointer-events:none;}



/*ESTILIZANDO O MENU RETRATIL*/

/* posicionando pra fora do viewport */

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



nav {
	position: absolute;
	left: 150px;
	top: 60px;
	z-index: 1;
}

header nav ul {
	display: none;	
}

.btn-menu {
	display: block;
	float: right;
	margin-top: 13px;
	margin-bottom: 2px;
	margin-right: 13px;
	border: 0;
	width: 40px;
	height: 25px;
	background-color: transparent;
	cursor: pointer;
	display: block;
	position: relative;
}

.btn-menu:focus {
	outline: 1px dotted #E0AE19;	
}

.show_menu .btn-menu:focus {
	outline: none;	
}

.btn-menu .text {
	display: block;
	text-indent: 150%;
	white-space: nowrap;
	overflow: hidden;	
}

.btn-menu .bar,
.btn-menu .bar:before,
.btn-menu .bar:after {
	display: block;
	position: absolute;
	width: 40px;
	height: 5px;
	background-color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.btn-menu .bar {
	top: 10px;
	left: 0;	
}
	
.btn-menu .bar:before {
	position: absolute;
	content: '';
	top: 10px;
	left: 0;
}

.btn-menu .bar:after {
	position: absolute;
	content: '';
	top: -10px;	
	left: 0;
}

.show .btn-menu .bar {
	background-color: transparent;	
}

.show .btn-menu .bar:before {
	top: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);	
}

.show .btn-menu .bar:after {
	top: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);	
}

.mobile-nav {
	height: 0;
	overflow: hidden;
	position: absolute;
	top: 100px;
	left: 70px;
	width: 200px;
	/*background-color: #009900;
	border: 1px solid #005500;*/
	border-top: none;
	border-bottom: none;
	-webkit-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;	
}

.mobile-nav a {
	text-decoration: none;
	color: #fff;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 18px;
	text-indent: 10px;
	display: block;
	line-height: 32px;
	border-bottom: 1px solid #005500;	
	text-align: center;
}

.mobile-nav a:focus,
.mobile-nav a:hover,
.mobile-nav a:active {
	background-color: #004301;	
}

.mobile-nav li:first-child a {
	border-top: 1px solid #005500;	
}

.show .mobile-nav {
	height: auto;
}

.mobile-nav .dd + ul {
	height: 0;
	overflow: hidden;
	background-color: #093CB3;
	-webkit-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;	
}

.mobile-nav .dd + ul a {
	text-indent: 30px;	
}

.mobile-nav .dd + ul a:focus,
.mobile-nav .dd + ul a:hover,
.mobile-nav .dd + ul a:active {
	background-color: #001E66;	
}

.mobile-nav .dd:after {
	content: '\25BC';
	margin-left: 5px;
	font-size: 12px;	
}

.mobile-nav .dd-show + ul {
	height: auto;	
}


/*ESTILO DAS  SECTIONS DO CORPO DO SITE_HOME*/

#corpo_home {
	position: relative;
	width: 87.84773060029283%; /*1200px de 1366px*/
	height: 600px;
	background-color: grey;
	margin: 0 auto;
	
}

#artigos_container {
	position: relative;
	width: 100%;
	background-color: seagreen;
	height: 200px;
}

#noticias_container {
	position: relative;
	width: 66.66666666666667%; /*800px de 1200px*/
	background-color: khaki;
	float: left;
	height: 400px;
}

#filmes_cartaz_container {
	position: relative;
	width: 33.33333333333333%; /*400px de 1200px*/
	background-color: lightcoral;
	float: left;
	height: 400px;
}