@charset "utf-8";
/* CSS Document */

#filme_topo {
	position: relative;
	width: 100%;
	height: 250px;
	overflow: hidden;
}

#lancamentos_topo img {
	width: 100%;
	height: auto;
}

.pg_titulo {
	line-height: 1em;
}

.pg_titulo h1 {
	font-size: 1em;
	line-height: normal
}

.pg_titulo > p {
	font-size: .5em;
}

#corpo_filme {
	position: relative;
	width: 87.84773060029283%; /*1200px de 1366px*/
	height: 600px;
	background-color: thistle;
	margin: 0 auto;
	float: none;
	}

#poster_filme {
	position: relative;
	width: 33.33333333333333%; /*400px de 1200px*/
	height: 600px;
	background-color: navajowhite;
	margin: 0 auto;
	float: left;
}

#poster_filme img{
	width: 100%;
	border: 1px solid #000000;
	box-shadow: 2px 2px 4px #000000;
}

#ficha_filme {
	position: relative;
	width: 66.66666666666667%; /*400px de 1200px*/
	height: 600px;
	/*background-color: green;*/
	margin: 0 auto;
	float: left;
	padding: 0 30px;
}

#ficha_filme p{
	padding-bottom: 20px;
}

#ficha_filme img{
	width: 22px;
	height: auto;
}